body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #f1f1f1;
    text-align: center;
    line-height: 1.6;
    font-size: 1.1rem;
    position: relative;
    height: 100vh;
}

.hidden {
    display: none;
}

#stickerBank {
    margin: 20px;
}

.sticker {
    width: 50px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.sticker:hover {
    transform: scale(1.2);
    color: #ff7f00;
}

.canvas {
    width: 100%;
    height: calc(100vh - 200px); /* Adjust height to fill the page below the sticker bank */
    border: none;
    margin: 0;
    position: absolute;
    top: 200px; /* Adjust top position to be below the sticker bank */
    left: 0;
    background-color: transparent;
}

.canvas img {
    position: absolute;
    cursor: move;
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.3s ease;
}

.canvas img:hover {
    transform: scale(1.2);
}
